$default-font: "Google Sans", sans-serif;
$default-font-2: "RoadRadio", sans-serif;
$wc: #f6f6f6;
$text-color: #f6f6f6;
$bg-color: #221a22;
$accent-color: #322a32;
$white: #fff;
$navy-dark: #14293e;
$teal-deep: #0a4b4f;
$sky-light: #9fbac7;
