.footer {
  z-index: 102;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    z-index: 11;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-50%) translateY(50%);
    width: vw(350);
    height: vw(350);
    background-color: #fafafd;
    filter: blur(vw(400));
  }

  &__bg {
    z-index: 0;
    position: absolute;
    inset: 0;

    video {
      height: 100%;
      width: 100%;
      object-fit: fill;
      display: block;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: $navy-dark;
      mix-blend-mode: multiply;
      z-index: 1;
      pointer-events: none;
    }
  }

  &__decor-line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 1px;
    background-color: rgba($sky-light, 0.2);

    @include tablet {
      width: calc(100% - 48px);
    }

    @include laptop {
      width: calc(100% - 80px);
    }

    &--full {
      width: 100%;
    }
  }

  .footer-head {
    position: relative;
    order: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding-top: 100px;
    padding-bottom: 48px;

    @include tablet {
      gap: 30px;
      padding-top: 120px;
      padding-bottom: 80px;
    }

    @include laptop {
      order: inherit;
      grid-template-columns: minmax(200px, 1fr) 2fr;
      gap: 0;
      padding-top: vw(120);
      padding-bottom: vw(120);
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
    }

    &__title {
      @include article-title;
      width: 100%;

      @include laptop {
        max-width: vw(340);
      }
    }

    &__content {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;

      @include laptop {
        gap: vw(40);
      }
    }

    &__body {
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 20px;

      height: calc(57.6px + 120px + 20px);
      max-height: calc(57.6px + 120px + 20px);

      transition: height 0.5s ease-in-out;
      will-change: height;
      -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
      mask-image: linear-gradient(to bottom, black 60%, transparent 100%);

      @include tablet {
        height: calc(38.4px + 60px + 20px);
        max-height: calc(38.4px + 60px + 20px);
      }

      @include laptop {
        height: calc(11vw + 20px);
        max-height: calc(115.2px + 20px + 2vw);
      }

      &.is-expanded {
        height: auto;
        max-height: none;
        -webkit-mask-image: none;
        mask-image: none;
      }
    }

    &__subtitle {
      @include article-title;
      display: flex;

      @include tablet {
        gap: 20px;
      }
    }

    &__text {
      @include general-text;
      position: relative;
      display: inline-block;
      color: $sky-light;
      transition: height 0.5s ease-out;

      &--bold {
        font-weight: 900;
      }

      @include laptop {
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;

      @include tablet {
      }

      @include laptop {
        gap: vw(8);
      }
    }

    &__list-item {
      @include general-text;
      display: flex;
      gap: 8px;
      margin-left: 8px;
      color: $sky-light;
    }

    &__more {
      &.is-active {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        transition: transform 0.3s ease;
      }
    }
  }

  .footer-navigation {
    position: relative;
    order: 3;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;

    @include tablet {
      margin: inherit;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include laptop {
      order: inherit;
      grid-template-columns: minmax(200px, 1fr) 2fr;
      padding-top: vw(120);
      padding-bottom: vw(120);
    }

    &__nav {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;

      @include tablet {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: inherit;
      }
    }

    &__title {
      @include general-text;
      color: $sky-light;
    }

    &__card {
      width: auto;
      background-color: $navy-dark;
      padding: 30px;
      border-radius: 16px;

      @include tablet {
        border-radius: 24px;
      }

      @include laptop {
        max-width: vw(404);
        padding: vw(40);
        border-radius: vw(40);
      }

      &--desktop {
        display: none;

        @include laptop {
          display: block;
        }
      }

      &--mobile {
        display: block;

        @include laptop {
          display: none;
        }
      }
    }

    &__body {
      display: flex;
      gap: 24px;

      @include tablet {
        gap: 40px;
      }

      @include laptop {
        gap: vw(40);
      }
    }

    &__logo {
      svg {
        width: 30px;
        height: 60px;

        @include tablet {
          width: 50px;
          height: 100px;
        }

        @include laptop {
          width: vw(50);
          height: vw(100);
        }
      }
    }

    &__content {
    }

    &__title {
      @include general-text;
      color: $sky-light;
    }

    &__location {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 16px;

      @include tablet {
        margin-top: 20px;
      }

      @include laptop {
        gap: vw(8);
        margin-top: vw(20);
      }
    }

    &__city {
      @include general-text;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 12px;
      border-radius: 100px;
      border: 1px solid rgba(159, 186, 199, 0.2);
      text-wrap: nowrap;

      @include laptop {
        padding: vw(4) vw(12);
        border-radius: vw(100);
      }
    }

    &__link {
      @include general-text;
      position: relative;
      display: flex;
      align-items: center;
      gap: 4px;
      text-decoration: underline;
      text-underline-position: from-font;
      text-wrap: nowrap;

      @include tablet {
        gap: vw(4);
      }

      &:hover {
        @include laptop {
          .footer-navigation__tooltip {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }

    &__link-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;

      @include laptop {
        width: vw(16);
        height: vw(16);
      }

      svg {
        color: $white;
        width: 100%;
        height: 100%;
      }
    }

    &__tooltip {
      @include tiny-text;
      position: absolute;
      bottom: 100%;
      left: 55%;
      transform: translateY(10px);

      margin-bottom: 12px;
      padding: 8px 12px;
      background-color: $sky-light;
      color: $navy-dark;

      font-size: 14px;
      line-height: 1;
      white-space: nowrap;
      border-radius: 2px;

      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      pointer-events: none;
      z-index: 10;

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 15%;

        border-width: 8px;
        border-style: solid;
        border-color: $sky-light transparent transparent transparent;
      }
    }

    &__schedule {
      @include general-text;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 8px;

      @include laptop {
        gap: vw(8);
        margin-top: vw(8);
      }
    }

    &__decor-line {
      width: 100%;
      height: 1px;
      margin: 16px 0;
      background-color: rgba($white, $alpha: 0.2);

      @include tablet {
        margin: 20px 0;
      }

      @include laptop {
        margin: vw(20) 0;
      }
    }

    &__social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      @include laptop {
        gap: vw(8);
      }
    }

    &__social-link {
      overflow: hidden;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border: 0.857px solid rgba(159, 186, 199, 0.2);
      border-radius: 50%;
      transition: border-color 0.3s ease;

      @include laptop {
        width: vw(36);
        height: vw(36);
      }

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 50%;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover {
        border-color: transparent;

        &::before {
          transform: scale(1);
        }

        svg {
          color: $navy-dark;
        }
      }

      svg {
        width: 16px;
        height: 16px;
        transition: color 0.3s ease;

        @include laptop {
          width: vw(14);
          height: vw(14);
        }
      }
    }

    .footer__decor-line {
      width: 100%;

      @include laptop {
        width: calc(100% - 80px);
      }
    }
  }

  .footer-navigation-block {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      gap: 20px;
    }

    @include laptop {
      gap: vw(20);
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include laptop {
        gap: vw(8);
      }
    }

    &__link {
      @include general-text;
      position: relative;
      display: block;
      width: fit-content;
      color: $white;
      font-weight: 400;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        width: 100%;
        height: 1px;
        background-color: $white;
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }

      &:hover {
        &::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }

      &--active {
        &::before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }

        &.animating {
          &::before {
            animation: rebound-line 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
          }
        }

        @keyframes rebound-line {
          0% {
            transform: scaleX(1);
            transform-origin: bottom right;
          }
          45% {
            transform: scaleX(0);
            transform-origin: bottom right;
          }
          55% {
            transform: scaleX(0);
            transform-origin: bottom left;
          }
          100% {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }

    &__row {
      display: flex;
      gap: 8px;

      @include laptop {
        gap: vw(8);
      }
    }

    &__social-link {
      overflow: hidden;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 1px solid rgba(159, 186, 199, 0.2);
      transition: border-color 0.3s ease;

      @include laptop {
        width: vw(42);
        height: vw(42);
      }

      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(0);
        width: 100%;
        height: 100%;
        background-color: $white;
        border-radius: 50%;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      }

      &:hover {
        border-color: transparent;

        &::before {
          transform: scale(1);
        }

        svg {
          color: $navy-dark;
        }
      }

      svg {
        width: 16px;
        height: 16px;
        transition: color 0.3s ease;

        @include laptop {
          width: vw(16);
          height: vw(16);
        }
      }
    }
  }

  .footer-contacts {
    position: relative;
    order: 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-between;
    row-gap: 16px;
    column-gap: 8px;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 68px;

    @include tablet {
      grid-template-columns: minmax(0, 402px) minmax(0, 328px);
      row-gap: 30px;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    @include laptop {
      order: inherit;
      grid-template-columns: minmax(200px, 1fr) 2fr;
      grid-template-rows: 1fr;
      gap: 8px;
      padding-top: vw(80);
      padding-bottom: vw(80);
    }

    .footer-navigation__card {
      grid-row: span 2;
    }

    &__button-wrapper {
      order: 2;
      display: flex;
      align-items: center;
      align-self: flex-start;
      padding: 0 16px;

      @include tablet {
        padding: 0 30px;
      }

      @include laptop {
        order: initial;
        padding: 0;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      gap: 8px;
      margin-top: 8px;
      padding: 0 16px;

      @include tablet {
        margin-top: 0;
        padding: 0 30px;
      }

      @include laptop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        padding: 0;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 12px;
      height: inherit;

      @include laptop {
        height: vw(64);
      }

      &:hover {
        .footer-contacts__icon {
          animation: ringIcon 0.4s ease-in-out forwards;

          @keyframes ringIcon {
            0% {
              transform: rotate(0);
            }
            25% {
              transform: rotate(-15deg);
            }
            50% {
              transform: rotate(15deg);
            }
            75% {
              transform: rotate(-10deg);
            }
            100% {
              transform: rotate(0);
            }
          }
        }

        .footer-contacts__link {
          &::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: rgba($white, 0.1);
      border: 1px solid transparent;
      transition: all 0.3s ease;

      @include laptop {
        width: vw(36);
        height: vw(36);
      }

      svg {
        width: 16px;
        height: 16px;
        color: $white;

        @include laptop {
          width: vw(16);
          height: vw(16);
        }
      }
    }

    &__link {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        width: 100%;
        height: 1px;
        background-color: $white;
        transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      }
    }

    .footer__decor-line {
      width: calc(100% - 32px);

      @include tablet {
        width: calc(100% - 48px);
      }

      @include laptop {
        width: 100%;
      }
    }

    &__button-container {
      @include general-text;
      display: none;
      align-items: center;
      gap: vw(12);
      margin-left: auto;

      @include laptop {
        display: flex;
      }
    }

    &__button-label {
      @include general-text;
      text-transform: uppercase;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      padding: 20px;
      border-radius: 50%;
      border: 1px solid rgba(159, 186, 199, 0.2);
      color: $white;
      transform: rotate(90deg);
      transition: border 0.5s ease;

      @include laptop {
        width: vw(64);
        height: vw(64);
        padding: vw(20);
      }

      svg {
        width: vw(24);
        height: vw(24);
      }

      &:hover {
        border: 1px solid $white;

        svg {
          animation: jump-arrow 0.6s infinite alternate ease-in-out;

          @keyframes jump-arrow {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translateX(-3px);
            }
          }
        }
      }
    }
  }

  .footer-policy {
    position: relative;
    order: 4;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;

    @include tablet {
      gap: inherit;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @include laptop {
      order: inherit;
      grid-template-columns: 1fr auto 1fr;
      padding-top: vw(30);
      padding-bottom: vw(30);
    }

    &__rights {
      @include general-text;
      display: inline-block;
      color: $sky-light;

      @include tablet {
        max-width: 55.5vw;
      }

      @include laptop {
        max-width: 24.5vw;
      }
    }

    &__privacy {
      @include general-text;
      color: $sky-light;

      &--mobile {
        display: inline;
        text-decoration-line: underline;
        text-underline-position: from-font;

        @include laptop {
          display: none;
        }
      }

      &--desktop {
        display: none;

        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -2px;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          width: 100%;
          height: 1px;
          background-color: $sky-light;
          transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &:hover {
          &::before {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }

        @include laptop {
          display: inherit;
        }
      }
    }

    &__logo {
      justify-self: end;
      width: 40px;
      height: 44px;

      @include laptop {
        width: vw(40);
        height: vw(44);
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
