.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__utility {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-between;
    width: 100%;
    max-width: 343px;

    @include tablet {
      gap: 32px;
    }

    @include laptop {
      gap: vw(48);
    }
  }

  &__input {
    display: flex;
    padding: 4px 28px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: $wc;
    border-radius: 100px;
    background: $accent-color;
    @include general-text;
    width: 86px;
    pointer-events: none;
  }

  &__more {
    @include general-text;
    margin-top: 16px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: from-font;

    @include tablet {
      margin-top: 32px;
    }

    @include laptop {
      margin-top: 40px;
    }
  }

  .pagination-count {
    display: flex;
    align-items: center;
    gap: 12px;

    &__current {
      @include general-text;
      padding: 12px 24px;
      background-color: $sky-light;
      border-radius: 100px;
      color: $navy-dark;

      @include tablet {
        padding: 22px 48px;
      }
    }

    &__max {
      @include general-text;
      color: $sky-light;
      text-wrap: nowrap;
    }
  }
}
